.about-hero {
  background: radial-gradient(rgba(47, 59, 89, 100%), rgba(229, 234, 241, 0.25)), url(../img/about-hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
    position: relative;
  }
  &__cicle{
    position: absolute;
    top: 40%;
    right: -15%;
  }
  &__title {
    margin: 0;
    color: $color-white;
    @include responsive(tablet_4){
      width: 100%;
      text-align: center;
    }
  }
}