$main-font-family: "Lexend Deca", sans-serif;
$heading-font-family: "Space Mono", sans-serif;
$color-yellow:  #fcb72b;
$color-dark-navy: #495567;
$color-dim-gray:  #939caa;
$color-light-gray: #e5ecf4;
$color-snow: #f2f5f9;
$color-light-yellow: #fff4df;
$color-white: #fff;
$color-black-footer-bg: #333a44;
$color-black-toggler-bg: #333a44;
$color-card-bg: #f2f5f9;